---
import PagefindSearch from "astro-pagefind/components/Search";
---
<nav class="search-nav">
  <PagefindSearch
    id="search"
    className="pagefind-ui-sidebar-search"
    uiOptions={{ showImages: false, pageSize: 10 }}
  />
</nav>