
@utility bg-texture {
  opacity: .12;
  mix-blend-mode: multiply;
  z-index: 100;
  isolation: isolate;
  pointer-events: none;
  background-repeat: repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100dvh;
  position: fixed;
  inset: 0;
}

@utility bg-texture-light {
  background-image: url(../assets/texture-light.png);
}

@utility bg-texture-dark {
  background-image: url(../assets/texture-dark.png);
}


@utility texture {
  @apply bg-texture bg-texture-light dark:bg-texture-dark;
}