

@import './fonts';
@import './background';

@theme {
  --font-title: "JetBrains Mono Variable", "sans-serif";
  --font-heading: "Space Grotesk Variable",  "sans-serif";
  --font-paragraph: "IBM Plex Sans Variable";
  --font-menu: "JetBrains Mono Variable",  "sans-serif";
  --font-code: "Fira Code Variable", "ui-monospace";
}

@utility main {
  @apply p-3 lg:p-6 lg:gap-6;
} 

@utility article {
  @apply p-4 lg:p-8 rounded-xl shadow-lg mb-6;
}

@utility article-title {
  @apply text-center;
}

@utility article-subtitle {
  @apply !mt-2 text-center opacity-60 italic;
}

@utility article-description {
  @apply !m-0 !mb-8 text-2xl lg:text-3xl xl:text-4xl text-balance;
}

@utility article-tag {
  @apply rounded-xl px-2 py-2;
}

@utility sidebar {
	@apply flex h-[calc(100vh_-_80px)] lg:h-[calc(100vh_-_50px)] top-3 lg:top-6;
}

@utility sidebar-content {
  @apply rounded-xl shadow-lg py-8 px-2;
}

@utility sidebar-arrow {
	@apply bg-button-background dark:bg-button-background-dark rounded-full;
}
@utility header {
  @apply h-11 px-2;
}

@utility tabset-tab {
	@apply border-b hover:border-b-0 hover:border p-2 rounded-t-lg;
}

@utility tabset-tab-one {
  @apply peer-checked/tab-one:border peer-checked/tab-one:border-b-0;
}

@utility tabset-tab-two {
  @apply peer-checked/tab-two:border peer-checked/tab-two:border-b-0;
}

@utility tabset-tab-three {
  @apply peer-checked/tab-three:border peer-checked/tab-three:border-b-0;
}