---
import type { DocumentContext } from "../../types";

export type Props = {
  document: DocumentContext;
};

const { subtitle } = Astro.props.document.data;
---

{subtitle && <h2  data-pagefind-weight="0.1" class="article-subtitle">{subtitle}</h2>}
