---
import type { TagsContext } from '@/types';

export type Props = {
  tags: TagsContext;
}

const { tags } = Astro.props;

---
{
  tags.tags.length > 0 && (
    <div data-pagefind-weight="0" class="flex flex-wrap flex-row lg:flex-row-reverse gap-4">
      {tags.tags.map((t) => (
        <a class="article-tag" href={t.data.permalink}>
          {t.data.name}
        </a>
      ))}
    </div>
  )
}