@import '../common/base';

@theme {
  --font-sans: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica", "Arial", "Segoe UI", "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;

  --font-title: var(--font-sans);
  --font-heading: var(--font-sans);
  --font-paragraph: var(--font-sans);
  --font-menu: var(--font-sans);
  --font-code: var(--font-mono);

  --text-base: 16px;
  --text-h1: 1.802em;
  --text-h2: 1.802em;
  --text-h2: 1.602em;
  --text-h3: 1.424em;
  --text-h4: 1.266em;
  --text-h5: 1.125em;
  --text-h6: 1em;

  --text-xxs: 0.8em;
  --text-xs: 0.875em;
  --text-sm: 0.933em;
  --text-ui-xs: 12px;
  --text-ui-sm: 13px;
  --text-ui-md: 15px;
  --text-ui-lg: 20px;

  --color-text-normal: var(--color-gray-950);
  --color-text-muted: var(--color-gray-900);
  --color-text-faint: var(--color-gray-700);

  --color-article-title-foreground: var(--color-text-normal);
  --color-article-title-foreground-dark: var(--color-text-dark);

  --color-footer-background: var(--color-background);
  --color-footer-background-dark: var(--color-background-dark);

  --color-sidebar-background: var(--color-background);
  --color-sidebar-background-dark: var(--color-background-dark);

  --color-tab-background: var(--color-article-background);
  --color-tab-background-dark: var(--color-article-background-dark);
  --color-tab-active-background: var(--color-background);
  --color-tab-active-background-dark: var(--color-background-dark);

  --left-sidebar-content-height: calc(100vh - 50px);

  --animate-bg-position: animate-bg-position 15s linear infinite;
}

body {
  font-family: var(--font-sans);
}

@utility article {
  @apply text-base p-8;

  ::selection {
    @apply bg-primary/20 dark:bg-primary/25;
  }
}


@utility article-blockquote {
  @apply prose-blockquote:border-l-2 prose-blockquote:border-primary prose-blockquote:font-normal prose-blockquote:not-italic prose-blockquote:ps-6;
}

@utility prose {
  blockquote p:first-of-type::before {
    content: none;
  }
  blockquote p:first-of-type::after {
    content: none;
  }
}

@utility article-content {
  @apply max-w-[700px] mx-auto;
}

@utility article-tag {
  @apply no-underline text-sm! text-purple-500! bg-purple-500/10! border-purple-500/15! rounded-4xl py-1 px-2.5;
}

@utility article-title {
  @apply text-h1 font-bold;
}

@utility article-subtitle {
  @apply text-h2;
}

@utility article-description {
  @apply text-base;
}

@utility file-embed {
  @apply border-l-2 border-primary ps-6;
}

@utility file-embed-title {
  @apply font-semibold;
}

@utility sidebar {
  @apply bg-article-background dark:bg-article-background-dark;
}

@utility sidebar-arrow {
  svg {
    @apply w-4.5 h-4.5;
  }
}

@utility sidebar-content {
  @apply p-0 border border-gray-400 dark:border-obsidian-400;
}

@utility header {
  @apply p-2 border-b border-b-gray-400 dark:border-obsidian-400 bg-article-background dark:bg-obsidian-400;
}

@utility navigation-tree {
  @apply p-2;
}

@utility tabset-bg {
  @apply block! z-0 absolute inset-0 h-[42px] bg-article-background dark:bg-obsidian-400;
}


@utility tabset-tab {
  @apply z-10 m-2 rounded-lg;

  svg {
    @apply m-1 w-4.5 h-4.5;
  }
}

@utility tabset-content {
  @apply p-2 border-t border-gray-400 dark:border-obsidian-400;
}

@utility tree-leaf {
  @apply text-ui-sm;
}

@utility table-of-contents-link {
  @apply text-ui-sm;
}

@utility table-of-contents-title {
  @apply text-ui-sm;
}

@utility link {
  @apply text-ui-sm;
}

@utility links-title {
  @apply text-ui-sm;
}

@utility footer {
  @apply text-ui-sm;
}

@utility pagefind-ui__search-input {
  @apply text-ui-sm!;
}

@utility pagefind-ui__search-clear {
  @apply text-ui-sm!;
}

@utility pagefind-ui-sidebar-search {
  @apply p-2;
}

@utility pagefind-ui__message {
  @apply p-0!;
}

@utility pagefind-ui__result-link {
  @apply text-ui-sm!;
}

@utility pagefind-ui__result-excerpt {
  @apply text-ui-sm!;
}