@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ibm-plex-sans-latin-wght-normal */
@font-face {
  font-family: 'IBM Plex Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* space-grotesk-latin-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/space-grotesk:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-code-latin-wght-normal */
@font-face {
  font-family: 'Fira Code Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-code:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@theme {
  /* GrayScales */
  --color-gray-50: #fcfcfc;
  --color-gray-100: #fafafa;
  --color-gray-200: #f6f6f6;
  --color-gray-300: #e3e3e3;
  --color-gray-400: #e0e0e0;
  --color-gray-500: #d4d4d4;
  --color-gray-600: #bdbdbd;
  --color-gray-700: #ababab;
  --color-gray-800: #707070;
  --color-gray-900: #5c5c5c;
  --color-gray-950: #222222;

  --color-obsidian-50: #212121;
  --color-obsidian-100: #242424;
  --color-obsidian-200: #262626;
  --color-obsidian-300: #2a2a2a;
  --color-obsidian-400: #363636;
  --color-obsidian-500: #3f3f3f;
  --color-obsidian-600: #555555;
  --color-obsidian-700: #666666;
  --color-obsidian-800: #999999;
  --color-obsidian-900: #b3b3b3;
  --color-obsidian-950: #dadada;

  --color-purple-300: hsl(255, 89.76%, 75.9%);
  --color-purple-400: hsl(257, 88.88%, 70.95%);
  --color-purple-500: hsl(258, 88%, 66%);

  --font-title: "JetBrains Mono Variable", "sans-serif";
  --font-heading: "Space Grotesk Variable",  "sans-serif";
  --font-paragraph: "IBM Plex Sans Variable";
  --font-code: "Fira Code Variable", "ui-monospace";
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    /* Opcional, si también quieres estilos de fuente */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@utility bg-texture-binding-dark {
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

    
@utility bg-texture-binding-light {
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
}

    