---
import getContextProps from '@astro-utils/context';
import { NAVIGATION_CONTEXT_NAME } from '../../constants';
import type { NavigationContext } from '../../types';

import Leaf from './Leaf.astro';

const { tree } = getContextProps(Astro, NAVIGATION_CONTEXT_NAME) as NavigationContext;

---
<nav>
  <ul class="flex flex-col gap-0.5">
    {tree.map((document) => (
      <Leaf node={document} />
    ))}
  </ul>
</nav>