---
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import type { DocumentContext } from '../types';

export type Props = {
  document: DocumentContext;
};

const { document } = Astro.props;
const { data } = document;

const { author, cover, description, title, updated } = data;

const proseClassName = 'prose dark:prose-invert lg:prose-lg xl:prose-xl 2xl:prose-2xl prose-a:text-purple-500 prose-a:opacity-[0.7] prose-a:hover:opacity-100 prose-h1:text-purple-500 prose-h1:font-heading prose-headings:font-heading prose-p:font-paragraph prose-code:font-code prose-pre:!bg-gray-200 dark:prose-pre:!bg-obsidian-300';

const { Content } = await render(document);
---

<article class:list={[
  "p-4 lg:p-8 bg-gray-50 dark:bg-obsidian-50 rounded-xl grow-1  max-w-full shadow-lg mb-6",
  proseClassName,
]}>
  <h1 class="text-center">{title}</h1>
  <div class="flex flex-col lg:flex-row justify-end">
    <p class="!m-0 !mb-8 text-2xl lg:text-3xl xl:text-4xl !font-heading text-balance">{description}</p>
    <div class="flex flex-col lg:items-end gap-2 w-full font-title">
      {author && <span>by {author}</span>}
      {updated && <span>{updated.toLocaleDateString('es-ES')}</span>}
    </div>
  </div>
  {cover && <Image src={cover} alt="" class="rounded-3xl shadow"  />}
  <Content />
</article>