---
import type { WebsiteContext } from "../types";
import Logo from "./Icons/Logo.astro";

export type Props = {
  id?: string;
  website: WebsiteContext;
};

const { id, website } = Astro.props;
---

<header id={id} class="h-11 px-2">
  <a
    href={import.meta.env.BASE_URL}
    class="font-title text-menu-foreground dark:text-menu-foreground-dark flex gap-2"
  >
    <Logo />
    {website.title}
  </a>
</header>
