---
import '../styles/global.css';

import type { DocumentContext, PageContext } from '../types';

import Footer from './Footer.astro';
import SEO from './SEO.astro';

export type Props = {
  page: PageContext
  document?: DocumentContext;
}

const { document, page } = Astro.props;

const { language } = page;
---

<html class="scroll-smooth" lang={language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <SEO page={page} />
  </head>
  <body class="w-full h-full bg-gray-200 dark:bg-obsidian-200 bg-texture-binding-light dark:bg-texture-binding-dark overflow-x-hidden">
    <main class="flex p-3 lg:p-6 lg:gap-6 items-start overflow-x-hidden">
      <slot />
    </main>
    <Footer document={document}  />
  </body>
</html>