---
import websiteConfig from '@/config';

import type { DocumentContext, PageContext } from '@/types';

import Footer from '@/components/Footer.astro';
import SEO from '@/components/SEO.astro';

export type Props = {
  page: PageContext
  document?: DocumentContext;
}

const { document, page } = Astro.props;

const { language } = page;
---
<!doctype html>
<html class="scroll-smooth" lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href={`/${websiteConfig.base}/favicon.svg`} />
    <SEO page={page} />
  </head>
  <body class="body">
    <div class="texture" />
    <main class="main">
      <slot />
    </main>
    <Footer document={document}  />
    <script type="module" is:inline>
      import { initArticlePreviews } from '/src/scripts/article-preview.ts';
      window.addEventListener('DOMContentLoaded', initArticlePreviews);
    </script>
  </body>
</html>