---
import type { PageContext } from '../types';

export type Props = {
  page: PageContext;
};

const { page } = Astro.props;

const { seo, title } = page;

---
<title>{seo.title ?? title}</title>
{seo.description && <meta name="description" content={seo.description} />}
{seo.keywords && <meta name="keywords" content={seo.keywords} />}
<link rel="canonical" href={seo.canonicalUrl ?? Astro.url} />